*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.navbar-nav{
    justify-content: space-between;
}
.nav-item .nav-link{
    color: white!important;
    font-weight:normal;
    font-size: 17px;
    padding: 0;
}
.nav-item .nav-link:hover{
    color: #cc0000!important;
    background-color: #cc0000;
    color: white !important;
}
.navbar{
    background-color: #9e998a;
    border-radius: 25px;
}
.navbar-brand{
    display: none !important;
  }
.nav-pills a{
    background-color: white !important;
    font-size: 14px;
    gap: 90px !important;
    padding: 0 !important;
}
.container-1{
    margin-top: 40px;
}
.col-lg-3 img{
    margin-bottom:10px;
}
.anchor-links{
    font-size: 14px;
}
.text-center {
    text-align: center;
}
ul{
    font-size: 14px;
}
ol{
    font-size: 14px;
}
.col-lg-6 {
    border-left: 2px solid #cfcfcf;
    border-right: 2px solid #cfcfcf;
}
.col-lg-6 h2{
    font-size:24px;
}
.col-lg-6 h4{
    font-size: 15px;
}
.col-lg-6 p{
    font-size: 14px;
}
.col-lg-3 h4{
    font-size: 15px;
}
.col-lg-3 p{
    font-size: 14px
}
.col-lg-6 h6{
    font-size: 15px; 
    color: black;
}
.links{
    margin-bottom: 12px;
}
.service-name{
    color: #cc0000;
    font-size: 20px;
}
.tab-pane > div:first-child{
    margin-bottom: 20px;
}
.links h4{
    padding: 0;
    margin: 0;
}
footer a{
    color: #978963 !important;
    font-weight: normal;
    font-size: 17px !important;
}
footer a:hover{
    color: #cc0000 !important;
}
.sidebar{
    background-color: black!important;
}

@media screen and (max-width: 1200px) {
    .website-logo{
        display: none;
    }
    .navbar-brand{
        display: block !important;
      }
    .navbar-nav{
        gap:10px !important;
    }
    .navbar-toggler-icon-white {
        color: white !important; /* Change to the color you desire */
    }
  .btn-close{
    width: 80px !important; 
    background-color: white;
  }
  .nav-item .nav-link{
    color: #978963!important;
    font-weight:normal;
    font-size: 17px;
    

}
.nav-item .nav-link:hover{
    color: #cc0000!important;
    background-color: transparent !important;
    
}
.navbar{
    background-color: white;
    border-radius: 0px !important;
}

}
@media screen and (max-width: 991px) {
    .col-lg-3{
        margin-top: 60px !important;
    }
}
footer{
    margin-top: 21px;
}

footer p{
    font-size: 14px;
}
@media screen and (max-width: 576px) {
    footer img {
        margin-bottom: 40px !important; 
        
    }    
}