*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
nav{
    background-color: #cc0000!important;
}
.nav-item .nav-link{
    color: white !important;
    font-weight: normal;
    font-size: 17px;
    border: none !important;
}
.container-1{
    margin-top: 40px;
}
.col-lg-3 img{
    margin-bottom:10px;
}
.main-table {
    width: 100%;
    height: 185px;
    border: 1px solid #000033;
    
}

.text-center {
    text-align: center;
}

#logo img {
    width: 130px;
    height: 35px;
    border: 0;
}

#search-message {
    font-size: -3;
    color: #000033;
}

#search-input {
    font-size: -3;
}

#search-button {
    font-size: 2;
}

#info-table {
    width: 100%;
    margin: 0;
    padding: 5px;
}

#info-text {
    font-size: 2;
    padding: 0;
}
.col-lg-6 {
    border-left: 2px solid #cfcfcf;
    border-right: 2px solid #cfcfcf;
}
.col-lg-6 h2{
    font-size:24px;
}
.col-lg-6 h4{
    font-size: 15px;
}
.col-lg-6 p{
    font-size: 14px;
}
.col-lg-3 h4{
    font-size: 15px;
}
.col-lg-3 p{
    font-size: 14px
}
.col-lg-6 h6{
    font-size: 15px; 
    color: black;
}

@media screen and (max-width: 1200px) {
    .sidebar{
          background-color: #cc0000!important;
    }
    .navbar-nav{
        gap:10px !important;
    }
    .navbar-toggler-icon-white {
        color: white !important; /* Change to the color you desire */
    }
  .btn-close{
    width: 80px !important; 
    background-color: white;
  }
  .charitypoker{
    flex-direction: column !important;
}
.photoflop-img{
    width: 80px;
    height: 140px;
}

}
@media screen and (max-width: 991px) {
    .col-lg-3{
        margin-top: 60px !important;
    }
}
footer{
    margin-top: 21px;
}
footer a{
    color: white !important;
    font-weight: normal;
    font-size: 17px !important;
}
footer p{
    font-size: 14px;
}
@media screen and (max-width: 576px) {
    footer img {
        margin-bottom: 40px !important; 
        
    }    
}