*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.navbar{
    background-color: #cc0000 !important;
}
.nav-item .nav-link{
    color: white !important;
    font-weight:normal;
    font-size: 17px;
}
section{
    margin-top: 40px;
}
.space-for-links{
    margin-top: 12px;
    margin-bottom: 8px;
}
.col-lg-6{
    border-left: 2px solid #d5d5d5;
    border-right: 2px solid #d5d5d5;
}

.img-center{
    margin-bottom: 8px;
}
.col-lg-6  p{
    font-size: 14px;
}
.col-lg-6 h3{
    font-size: 15px;
}
.col-lg-6 h2{
    font-size: 24px;
}
.col-lg-6 img{
    margin-inline: 7px;
}
.col-lg-6 h6{
    font-size: 15px; 
    color: black;
}
h4{
    font-size: 15px !important;
}
.col-lg-6 .nav-pills a{
    color: #4573ca;
    font-size: 14px;
}
.col-lg-3 .nav-pills a{
    color: #4573ca !important;
    font-size: 14px !important;
    padding: 0 !important;
    margin-block: 5px !important;
    font-weight: 500 !important;
}
.col-lg-3 a{
    color: #4573ca;
    font-size: 15px;
    padding: 0;
    margin: 0;
    font-weight: 500 !important;
}

@media screen and (max-width: 1200px) {
    .sidebar{
          background-color: #cc0000!important;
    }
    .navbar-nav{
        gap:10px !important;
    }
    .navbar-toggler-icon-white {
        color: white !important; /* Change to the color you desire */
    }
  .btn-close{
    width: 80px !important; 
    background-color: white;
  }


}
@media screen and (max-width: 991px) {
    .col-lg-3{
        margin-top: 60px !important;
    }
}