*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.navbar{
    background-color: #cc0000 !important;
}
.nav-item .nav-link{
    color: white !important;
    font-weight:normal;
    font-size: 17px;
}
section{
    margin-top: 40px;
}
.space-for-links{
    margin-top: 12px;
    margin-bottom: 8px;
}
.col-lg-6{
    border-left: 2px solid #d5d5d5;
    border-right: 2px solid #d5d5d5;
}

.img-center{
    margin-bottom: 8px;
}
.col-lg-6  p{
    font-size: 14px;
}
.col-lg-6 h3{
    font-size: 15px;
}
.col-lg-6 h2{
    font-size: 20px;
}
.col-lg-6 img{
    margin-inline: 7px;
}
@media screen and (max-width: 768px) {
    .navbar-collapse  .navbar-nav{
         gap: 0px !important;
         margin-inline: auto !important;
         display: flex;
         justify-content: center;
         align-items: center;
    }
    ul{
        gap: 2px !important;
    }
    .img-center{
        
        
    }
  }